*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

html{
scroll-behavior:smooth;
}

body{
background:#f4f4f4;
}

header{
background:#333;
color:white;
padding:20px;
text-align:center;
}

nav{
margin-top:10px;
}

nav a{
color:white;
text-decoration:none;
margin:0 15px;
}

section{
padding:40px;
margin:20px;
background:white;
border-radius:10px;
}

.project{
background:#ddd;
padding:20px;
margin-top:10px;
border-radius:10px;
transition:0.3s;
}

.project:hover{
transform:scale(1.03);
}

footer{
text-align:center;
padding:20px;
background:#333;
color:white;
}